body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  